<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<servlet>
		<servlet-name>HessianServlet</servlet-name>
		<servlet-class> com.caucho.hessian.server.HessianServlet</servlet-class>
		<init-param>
			<param-name>home-class</param-name>
			<param-value>hessian.BasicService</param-value>
		</init-param>
		<init-param>
			<param-name>home-api</param-name>
			<param-value>hessian.IBasic</param-value>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>IBEClientServlet</servlet-name>
		<servlet-class> com.caucho.hessian.server.HessianServlet</servlet-class>
		<init-param>
			<param-name>home-class</param-name>
			<param-value>com.ibeproxy.client.impl.IBEClientService</param-value>
		</init-param>
		<init-param>
			<param-name>home-api</param-name>
			<param-value>com.ibeproxy.client.IIBEClientService</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>HessianServlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>IBEClientServlet</servlet-name>
		<url-pattern>/ibeClientService</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>