<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC 
       "-//SPRING//DTD BEAN//EN"
       "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id ="myService" class="fhd.right.action.MyServiceImpl"/>
	<bean id="loginttt" class="fhd.right.action.LoginAction" >
		<property name="ms" ref="myService"/>
	</bean>
</beans>