<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	 "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="dialect">
			org.hibernate.dialect.Oracle9iDialect
		</property>
		<property name="connection.driver_class">
			oracle.jdbc.driver.OracleDriver
		</property>
		<property name="connection.url">
			jdbc:oracle:thin:@192.168.16.77:1521:baozdb
		</property>
		<property name="connection.username">yxgl</property>
		<property name="connection.password">yxgl</property>
		<property name="show_sql">true</property>
		<!-- <property name="hbm2ddl.auto">update</property>  -->
		<property name="cache.provider_class">
			org.hibernate.cache.EhCacheProvider
		</property>
		<property name="cache.use_query_cache">true</property>

		<mapping class="com.baoz.yx.entity.SysItem" />
		<mapping class="com.baoz.yx.entity.Employee" />
		<mapping class="com.baoz.yx.entity.YXDutyCode" />
		<mapping class="com.baoz.yx.entity.YXGroupCode" />
		<mapping class="com.baoz.yx.entity.YXClientNature" />
		<mapping class="com.baoz.yx.entity.YXBusineesType" />
		<mapping class="com.baoz.yx.entity.YXLinkManN" />
		<mapping class="com.baoz.yx.entity.YXLinkMan" />
		<mapping class="com.baoz.yx.entity.YXClientCode" />
     
		<mapping class="com.baoz.yx.entity.YXOEmployeeClient" />

		<mapping class="com.baoz.yx.entity.YXTypeManage" />

		<mapping class="com.baoz.yx.entity.ZoneCode"/>
		<mapping class="com.baoz.yx.entity.Assistance"/>
		<mapping class="com.baoz.yx.entity.CustomerProjectType"/>
		<mapping class="com.baoz.yx.entity.ProjectStateFollow"/>
		<mapping class="com.baoz.yx.entity.SelfProduction"/>
		<mapping class="com.baoz.yx.entity.SuplierType"/>
		<mapping class="com.baoz.yx.entity.TicketType"/>
		<mapping class="com.baoz.yx.entity.ProjectState"/>

		<mapping class="com.baoz.yx.entity.ApplyMessage"/>
		<mapping class="com.baoz.yx.entity.AssistanceContract"/>
		<mapping class="com.baoz.yx.entity.AssistanceTicket"/>
		<mapping class="com.baoz.yx.entity.AssistancePayInfo"/>
		<mapping class="com.baoz.yx.entity.SupplierInfo"/>
	    <mapping class="com.baoz.yx.entity.Gonggao"/>


		<!-- add by chengwei for user -->
		<mapping class="com.baoz.yx.entity.Authority" />
		<mapping class="com.baoz.yx.entity.Role" />
		<mapping class="com.baoz.yx.entity.RoleAuthority" />
		<mapping class="com.baoz.yx.entity.UserJobIntent" />
		<!-- add by chengwei for user -->
		
		<!-- add by yepeng for user -->
		<mapping class="com.baoz.yx.entity.ProjectEconomyCode"/>
		<mapping class="com.baoz.yx.entity.SupplyTypeCode"/>
		<mapping class="com.baoz.yx.entity.ProjectInfo"/>
		<mapping class="com.baoz.yx.entity.ApplyTypeCode"/>
		<mapping class="com.baoz.yx.entity.FileType"/>
		<mapping class="com.baoz.yx.entity.ContractBeforeSell"/>
		<mapping class="com.baoz.yx.entity.ReveInfo"/>
		<mapping class="com.baoz.yx.entity.InvoiceInfo"/>
		<mapping class="com.baoz.yx.entity.bill.RelationAmount"/>

		
		<!-- add by yepeng for user -->
		<mapping class="com.baoz.yx.entity.TicketType"/>
		<mapping class="com.baoz.yx.entity.SelfProduction"/>
		<mapping class="com.baoz.yx.entity.SuplierType"/>
		<mapping class="com.baoz.yx.entity.CustomerProjectType"/>
		<mapping class="com.baoz.yx.entity.ProjectStateFollow"/>
		<mapping class="com.baoz.yx.entity.ProjectState"/>
		<mapping class="com.baoz.yx.entity.Assistance"/>
		
		
		<!-- add by yangyuan for ProgramEconomy  -->
		<mapping class="com.baoz.yx.entity.programEconomy.YXOProgramEconomy"/>
		<mapping class="com.baoz.yx.entity.programEconomy.YXOSectionInfo"/>
		<mapping class="com.baoz.yx.entity.programEconomy.YXOSectionRecord"/>
		<mapping class="com.baoz.yx.entity.programEconomy.YXOSectionRecordInfo"/>
		<mapping class="com.baoz.yx.entity.programEconomy.YXOEquipList"/>
		<mapping class="com.baoz.yx.entity.programEconomy.YXOBidInfo"/>
		
		<!-- add by lewei -->
		<!-- contract -->
		 
		<mapping class="com.baoz.yx.entity.contract.ContractMainInfo"/> <!--pkColumnValue70-->
		<mapping class="com.baoz.yx.entity.contract.ContractOwnProduce"/> <!--pkColumnValue71-->
		<mapping class="com.baoz.yx.entity.contract.ContractOtherInfo"/> <!--pkColumnValue72-->
		<mapping class="com.baoz.yx.entity.contract.ContractItemMaininfo"/> <!--pkColumnValue73-->
		<mapping class="com.baoz.yx.entity.contract.ContractChangeInfo"/>	<!--pkColumnValue74-->
		<mapping class="com.baoz.yx.entity.contract.ContractItemInfo"/>	  <!--pkColumnValue75-->
		<mapping class="com.baoz.yx.entity.contract.ContractItemStage"/>	  <!--pkColumnValue76-->
		<mapping class="com.baoz.yx.entity.contract.InitContractBillpro"/> <!--pkColumnValue77-->
		<mapping class="com.baoz.yx.entity.contract.RealContractBillandRecePlan"/> <!--pkColumnValue79-->
		<mapping class="com.baoz.yx.entity.contract.BillReceChangeHistory"/> <!--pkColumnValue81-->
		<mapping class="com.baoz.yx.entity.contract.MonthlyBillpro"/> <!--pkColumnValue83-->
		<mapping class="com.baoz.yx.entity.contract.MonthlyRecepro"/> <!--pkColumnValue84-->
		<mapping class="com.baoz.yx.entity.contract.MonthlyBillpro"/> <!--pkColumnValue83-->
		<mapping class="com.baoz.yx.entity.contract.MonthlyRecepro"/> <!--pkColumnValue84-->
		<mapping class="com.baoz.yx.entity.contract.ItemCostingSure"/> <!--pkColumnValue87-->
		<mapping class="com.baoz.yx.entity.contract.ChangingContractMainInfo"/> 
		<mapping class="com.baoz.yx.entity.contract.ChangingContractOtherInfo"/> 
		<mapping class="com.baoz.yx.entity.contract.ContractMaininfoPart"/> 
			<mapping class="com.baoz.yx.entity.contract.ContractChangeExplain"/> 
		<!-- contract -->
		<!-- add by xurong -->
		<mapping class="com.baoz.yx.entity.contract.ContractItemStagePlan"/> 
		<!-- bill -->
		<mapping class="com.baoz.yx.entity.bill.ApplyBill"/> <!--pkColumnValue85-->
		<mapping class="com.baoz.yx.entity.bill.BillandProRelaion"/> <!--pkColumnValue86-->
		<!-- bill -->
		<!-- add by lewei -->
		
		<!-- add by libin for user -->
		<mapping class="com.baoz.yx.entity.YXFileManage"/>
		<mapping class="com.baoz.yx.entity.Notice"/>
		<mapping class="com.baoz.yx.entity.YXChargeMan"/>
		<mapping class="com.baoz.yx.entity.YXChargemanDepartment"/>
		<!-- add by shaoyx -->
		
		<mapping class="com.baoz.yx.entity.Authority"/>             <!-- pkColumnValue51 -->
		<mapping class="com.baoz.yx.entity.AuthorityEmployee"/>     <!-- pkColumnValue52 -->
		
		<mapping class="com.baoz.yx.entity.OrganizationTree"/>      <!-- pkColumnValue53 -->
		
		<mapping class="com.baoz.yx.entity.Role"/>                  <!-- pkColumnValue54 -->
		<mapping class="com.baoz.yx.entity.RoleAuthority"/>         <!-- pkColumnValue55 -->
		<mapping class="com.baoz.yx.entity.RoleEmployee"/>          <!-- pkColumnValue56 -->
		
		<!-- end -->
		
	</session-factory>
</hibernate-configuration>









