
	body{
		margin:0 auto;
		text-align:center;
	}

	h2{
		color:#FFFFFF;
		font-size:90%;
		font-family:arial;
		margin:10px 10px 10px 10px;
		font-weight:bold;
	}
	
	h2 span{
		font-size:105%;
		font-weight:normal;
	}
	
	ul{
		margin:0px 0px 0px 0px;
		padding:0px 0px 0px 0px;
	}
	
	li{
		margin:0px 10px 3px 10px;
		padding:2px;
		list-style-type:none;
		display:block;
		background-color:#DA1074;
		width:170px;
	}
	
	li a{
		width:100%;
	}
	
	li a:link,
	li a:visited{
		color:#FFFFFF;
		font-family:verdana;
		font-size:70%;
		text-decoration:none;
		display:block;
		margin:0px 0px 0px 0px;
		padding:0px;
		width:100%;
	}
	
	li a:hover{
		color:#FFFFFF;
		text-decoration:underline;
	}
	
	#framework{
		position:absolute;
		width:800px;
		height:500px;
		top:5%;
		left:5%;
		text-align:left;
		border:solid;
	}
	
	#framework  #sideBar{
		position: absolute;
		width: auto;
		height: auto;
		top: 5%;
		right:0px;
		background-image:url(images/background.gif);
		background-position:top left;
		background-repeat:repeat-y;
	}
	
	#framework  #sideBar #sideBarTab{
		float:left;
		height:130px;
		width:28px;
	}
	
	#framework  #sideBar #sideBarTab img{
		border:0px solid #FFFFFF;
	}
	
	#framework  #sideBar #sideBarContents{
		overflow:hidden !important;
	}
	
	#framework  #sideBar #sideBarContentsInner{
		width:95%;
	}
	
	#framework .showMagazine{
		position:relative;
		margin-top:10px;
		margin-right:30px;	
		margin-left:10px;
	}
	
	#framework .hideMagazine{
		position:relative;	
		margin-top: 10px;
		margin-right:30px;	
		margin-left:10px;		
		display:none;
	}