@charset "utf-8";
/* CSS Document */


	#framework{
		margin:0 auto;		
		width:800px;
		height:500px;
		text-align:left;
		border:solid;
		
	}

	#sideBar  h2{
		color:#FFFFFF;
		font-size:90%;
		font-family:arial;
		margin:10px 10px 10px 10px;
		font-weight:bold;
	}
	
	#sideBar  h2 span{
		font-size:105%;
		font-weight:normal;
	}
	
	#sideBar  ul{
		margin:0px 0px 0px 0px;
		padding:0px 0px 0px 0px;
	}
	
	#sideBar  li{
		margin:0px 10px 3px 10px;
		padding:2px;
		list-style-type:none;
		display:block;
		background-color:#DA1074;
		width:170px;
	}
	
	#sideBar  li a{
		width:100%;
	}
	
	#sideBar  li a:link,
	#sideBar  li a:visited{
		color:#FFFFFF;
		font-family:verdana;
		font-size:70%;
		text-decoration:none;
		display:block;
		margin:0px 0px 0px 0px;
		padding:0px;
		width:100%;
	}
	
	#sideBar  li a:hover{
		color:#FFFFFF;
		text-decoration:underline;
	}
	
	#sideBar{
	position:absolute;
	width: auto;
	height: auto;
	right:5px;
	float:right;
	background-image:url(../images/background.gif);
	background-position:top left;
	background-repeat:repeat-y;
	z-index:3;
	}
	
	#sideBarTab{
		float:left;
		height:130px;
		width:28px;
	}
	
	#sideBarTab img{
		border:0px solid #FFFFFF;
	}
	
	#sideBarContents{
		overflow:hidden !important;
		float:left;
		height:320px;
		width:200px;
	}
	
	#sideBarContentsInner{
		width:95%;
	}
	
	.hideMagazine{
		display:none;	
	}
	
	.showMagazine{
		position:relative;
		width:750px;
		height:450px;
		margin:25px;
		display:block;
		overflow:auto;
	}
	
