<!DOCTYPE html>
<html>
<head>
<style type="text/css">
	.odd{
		 background-color: #AAAAAA;
		 margin-top:10px;
		 margin-bottom:10px
	}
	.retweeted{
		 background-color: #D2D2D2;
	}
</style>
<title>sinaUISucks</title>
</head>
<body>
	{% for item in weiboList %}
		{% if forloop.counter|divisibleby:2 %}<div class="odd">{%endif%} 
		{% for i in item %}
			{% if forloop.counter|divisibleby:2 %}
				{{ i.timeline.user.name }}:{{ i.timeline.text }}
				{% if i.timeline.retweeted_status.user.name %}
					<div class="retweeted">
					@{{  i.timeline.retweeted_status.user.name }} : {{ i.timeline.retweeted_status.text  }}
					</div>
				{% endif %} 
			{%endif%} 
		{% endfor %}
		{% if forloop.counter|divisibleby:2 %}</div>{%endif%}
	{% endfor %}
</body>
</html>