<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>#{get 'title' /}</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/style.css'}" />
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/photo.css'}" />
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/shCore.css'}" />
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/shThemeDefault.css'}" />
<!--        <script type="text/javascript" src="@{'/public/javascripts/jquery-1.2.6.min.js'}"></script>-->
		<script type="text/javascript" src="@{'/public/javascripts/shCore.js'}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/shBrushJava.js'}"></script>
<!--        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />-->
    </head>
    <body>
    	<!-- start header -->
		<div id="header">
			<div id="menu">
				<ul>
					<li class="current_page_item"><a href="@{Client.blog}">Blog</a></li>
		            <li><a href="@{Client.twitter}">Twitter</a></li>
					<li><a href="@{PhotoAction.index}">Photos</a></li>
					<li><a href="#">About</a></li>
				</ul>
			</div>
		</div>
		<div id="headerbg"><p class="text1">Welcome To FTblog</p></div>
		<!-- end header -->
        #{doLayout /} 
    </body>
</html>
