#{extends 'main.html' /}
#{set title:'Welcome FHDone Blog' /}

#{if ( articleVo  != null ) }
Edit article：<br/><br/>
#{/if}
#{else}
Add article：<br/><br/>
#{/else}

#{if ( articleVo  != null ) }
<form action="/manage/saveEdit" method="POST" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
#{/if}
#{else}
<form action="/manage/addarticle" method="POST" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
#{/else}
	<input type="hidden" name="articleId" value="${articleVo.id}">
	Title:<input type="text" name="title" size="10" value="${articleVo.title}"/><br/>
	Content:<textarea name="content" >${articleVo.content}</textarea><br/>
	<input type="submit" value="edit" />
</form>
