#{extends 'main.html' /}
#{set title:'FHD Blog' /}
<script language="javascript">
function deleteArticle(articleId){
	if( window.confirm("sure delete?")){
		var url = "@{Manage.del}";
		location.href=url+"?articleId="+articleId;
	}
}
SyntaxHighlighter.config.clipboardSwf = "@{'/public/swf/clipboard.swf'}";
SyntaxHighlighter.all();
</script>

==============Blog=====================
<ul>
#{list items:blogVos, as:'blogVo'}
	<li>
		${blogVo.title} - ${blogVo.content}
		<a href="@{Manage.editBlog(blogVo.id)}">edit</a>
		#{if ( blogVo.isActive == true ) }
			<a href="@{Manage.disable(blogVo.id)}">make disable</a>
		#{/if}
		#{else}
			<a href="@{Manage.enable(blogVo.id)}">make enable</a>
		#{/else}
		<a href="#" onclick="deleteArticle('${blogVo.id}')">delete</a>
	</li>
#{/list}
</ul>

==============Twitter=====================
<ul>
#{list items:twitterVos, as:'twitterVo'}
	<li>
		 ${twitterVo.content}
		<a href="@{Manage.editTwitter(twitterVo.id)}">edit</a>
		#{if ( twitterVo.isActive == true ) }
			<a href="@{Manage.disable(twitterVo.id)}">make disable</a>
		#{/if}
		#{else}
			<a href="@{Manage.enable(twitterVo.id)}">make enable</a>
		#{/else}
		<a href="#" onclick="deleteArticle('${twitterVo.id}')">delete</a>
	</li>
#{/list}
</ul>

<pre class="brush:java;">
<br/>public HttpServletRequest originalResquest; 
<br/></pre>
<br/>然后，在ServletWrapper.java的parseRequest方法里面简单地把HttpServletRequest赋给originalResquest，
<br/><pre class="brush:java;">
<br/>request.originalResquest = httpServletRequest;  
<br/></pre>
<br/>就这么简单，对Play! Framework的修改完成了（但不完美，后面再说）。重新编译Play!，得到新的play.jar，替换原来的。

<br/>
<br/>
<br/>
========Blog=======
#{form @addArticle()}
	Title: <input type="text" name="title" size="10" /><br/>
	Content: <textarea name="content" cols="50" rows="10"></textarea><br/>
	<input type="hidden" name="type" value="1"/>
	<input type="submit" value="add" />
#{/form}

=======Twitter==========
#{form @addArticle()}
	Content: <textarea name="content" cols="50" rows="3"></textarea><br/>
	<input type="hidden" name="type" value="2"/>
	<input type="submit" value="add" />
#{/form}







