#{extends 'main.html' /}
#{set title:'FHD Blog' /}
<script language="javascript">
function deleteArticle(articleId){
	if( window.confirm("sure delete?")){
		var url = "@{Manage.del}";
		location.href=url+"?articleId="+articleId;
	}
}
SyntaxHighlighter.config.clipboardSwf = "@{'/public/swf/clipboard.swf'}";
SyntaxHighlighter.all();
</script>
 
<h1>${articleVos.size()} Article${articleVos.size().pluralize()} </h1>

<ul>
#{list items:articleVos, as:'articleVo'}
	<li>
		${articleVo.title} - ${articleVo.content}
		<a href="@{Manage.edit(articleVo.id)}">edit</a>
		#{if ( articleVo.isActive == true ) }
			<a href="@{Manage.disable(articleVo.id)}">make disable</a>
		#{/if}
		#{else}
			<a href="@{Manage.enable(articleVo.id)}">make enable</a>
		#{/else}
		<a href="#" onclick="deleteArticle('${articleVo.id}')">delete</a>
	</li>
#{/list}
</ul>

<pre class="brush:java;">
<br/>public HttpServletRequest originalResquest; 
<br/></pre>
<br/>然后，在ServletWrapper.java的parseRequest方法里面简单地把HttpServletRequest赋给originalResquest，
<br/><pre class="brush:java;">
<br/>request.originalResquest = httpServletRequest;  
<br/></pre>
<br/>就这么简单，对Play! Framework的修改完成了（但不完美，后面再说）。重新编译Play!，得到新的play.jar，替换原来的。

#{form @addArticle()}
	Title:<input type="text" name="title" size="10" /><br/>
	Content:<textarea name="content"></textarea><br/>
	<input type="submit" value="add" />
#{/form}
