<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"   
    "http://www.springframework.org/dtd/spring-beans.dtd"> 
<beans>
	<bean id="avProxyService" class="com.ibeproxy.client.impl.AVProxyService"/>  
	<bean id="avwProxyService" class="com.ibeproxy.client.impl.AVWProxyService"/>  
	<bean id="dsgProxyService" class="com.ibeproxy.client.impl.DSGProxyService"/>  
	<bean id="fdProxyService" class="com.ibeproxy.client.impl.FDProxyService"/>  
	<bean id="ffProxyService" class="com.ibeproxy.client.impl.FFProxyService"/>  
	<bean id="skProxyService" class="com.ibeproxy.client.impl.SKProxyService"/> 
	<bean id="queueProxyService" class="com.ibeproxy.client.impl.QUEUEProxyService"/>  
	 
	<bean id="pnrManageProxyService" class="com.ibeproxy.pnr.impl.PnrManageProxyService"/>  
	<bean id="rtProxyService" class="com.ibeproxy.pnr.impl.RTProxyService"/>  
	<bean id="sellSeatProxyService" class="com.ibeproxy.pnr.impl.SellSeatProxyService"/>

	<bean id="avProxyServiceExporter"
		class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="service">
			<ref bean="avProxyService" />
		</property>
		<property name="serviceName">
			<value>avProxyService</value>
		</property>
		<property name="serviceInterface">
			<value>com.ibeproxy.client.IAVProxyService</value>
		</property>
		<property name="registryPort">
			<value>8888</value>
		</property>
	</bean>

	<bean id="avwProxyServiceExporter"
		class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="service">
			<ref bean="avwProxyService" />
		</property>
		<property name="serviceName">
			<value>avwProxyService</value>
		</property>
		<property name="serviceInterface">
			<value>com.ibeproxy.client.IAVWProxyService</value>
		</property>
		<property name="registryPort">
			<value>8888</value>
		</property>
	</bean>

	<bean id="dsgProxyServiceExporter"
		class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="service">
			<ref bean="dsgProxyService" />
		</property>
		<property name="serviceName">
			<value>dsgProxyService</value>
		</property>
		<property name="serviceInterface">
			<value>com.ibeproxy.client.IDSGProxyService</value>
		</property>
		<property name="registryPort">
			<value>8888</value>
		</property>
	</bean>

	<bean id="fdProxyServiceExporter"
		class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="service">
			<ref bean="fdProxyService" />
		</property>
		<property name="serviceName">
			<value>fdProxyService</value>
		</property>
		<property name="serviceInterface">
			<value>com.ibeproxy.client.IFDProxyService</value>
		</property>
		<property name="registryPort">
			<value>8888</value>
		</property>
	</bean>

	<bean id="ffProxyServiceExporter"
		class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="service">
			<ref bean="ffProxyService" />
		</property>
		<property name="serviceName">
			<value>ffProxyService</value>
		</property>
		<property name="serviceInterface">
			<value>com.ibeproxy.client.IFFProxyService</value>
		</property>
		<property name="registryPort">
			<value>8888</value>
		</property>
	</bean>

	<bean id="skProxyServiceExporter"
		class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="service">
			<ref bean="skProxyService" />
		</property>
		<property name="serviceName">
			<value>skProxyService</value>
		</property>
		<property name="serviceInterface">
			<value>com.ibeproxy.client.ISKProxyService</value>
		</property>
		<property name="registryPort">
			<value>8888</value>
		</property>
	</bean>

	<bean id="queueProxyServiceExporter"
		class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="service">
			<ref bean="queueProxyService" />
		</property>
		<property name="serviceName">
			<value>queueProxyService</value>
		</property>
		<property name="serviceInterface">
			<value>com.ibeproxy.client.IQUEUEProxyService</value>
		</property>
		<property name="registryPort">
			<value>8888</value>
		</property>
	</bean>


	<bean id="pnrManageProxyServiceExporter"
		class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="service">
			<ref bean="pnrManageProxyService" />
		</property>
		<property name="serviceName">
			<value>pnrManageProxyService</value>
		</property>
		<property name="serviceInterface">
			<value>com.ibeproxy.pnr.IPnrManageProxyService</value>
		</property>
		<property name="registryPort">
			<value>8888</value>
		</property>
	</bean>


	<bean id="rtProxyServiceExporter"
		class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="service">
			<ref bean="rtProxyService" />
		</property>
		<property name="serviceName">
			<value>rtProxyService</value>
		</property>
		<property name="serviceInterface">
			<value>com.ibeproxy.pnr.IRTProxyService</value>
		</property>
		<property name="registryPort">
			<value>8888</value>
		</property>
	</bean>


	<bean id="sellSeatProxyServiceExporter"
		class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="service">
			<ref bean="sellSeatProxyService" />
		</property>
		<property name="serviceName">
			<value>sellSeatProxyService</value>
		</property>
		<property name="serviceInterface">
			<value>com.ibeproxy.pnr.ISellSeatProxyService</value>
		</property>
		<property name="registryPort">
			<value>8888</value>
		</property>
	</bean>
	
</beans>  
