#{extends 'manage_main.html' /}
#{set title:'Add TBlog' /}
<script language="javascript">

</script>

<br/>
<br/>
<br/>
<div id="blog">
<h1>add blog</h1>
#{form @addArticle()}
	Title: <input type="text" name="title" size="10" /><br/>
	Content: <br/>
	<textarea name="content" cols="100" rows="10" ></textarea>  
	<input type="hidden" name="type" value="1"/>
	<input type="hidden" name="content" />
	<input type="submit" value="post it" />
#{/form}
</div>

<br/><br/><br/>
<hr/>
<br/><br/>

<div id="twitter">
<h1>add twitter</h1>
#{form @addArticle()}
	Content: <textarea name="content" cols="100" rows="5"></textarea><br/>
	<input type="hidden" name="type" value="2"/>
	<input type="submit" value="post it" />
#{/form}
</div>

<br/><br/><br/>
<hr/>
<br/><br/>

<div id="photo">
<h1>add photo</h1>
<a class="new" href="@{PhotoAction.newPhoto}">New photo</a>
</div>

<script language="javascript">
	var oFCKeditor = new FCKeditor( 'content' ) ;  
	oFCKeditor.BasePath = '@{'/public/fckeditor/'}/' ;  
	oFCKeditor.Height = "400";
	//oFCKeditor.Config['ToolbarStartExpanded'] = false ;  
	//oFCKeditor.ToolbarSet   = 'Basic' ;  
	oFCKeditor.ReplaceTextarea() ;  
</script>







