#{extends 'manage_main.html' /}
#{set title:'Manage TBlog Login' /}
<script language="javascript">
function saveCookie(){
	Ker.setCookie("password",$("password").value);
}

function doLogin(){
	saveCookie();
	
	$("login").submit();
}
</script>

<br/>
<br/>
<br/>
<div id="blog">
<form  id="login" action="/manage" method="GET" accept-charset="utf-8" enctype="application/x-www-form-urlencoded" >
	Password: <input type="password" id="password" name="password" />
	<input type="button" value="login" onclick="doLogin();" />
</form>
</div>







