{% extends "base.html" %}
{% block content %}

{% load my_tag %}

{% for info in list %}
	{{ info.name }}/{{ info.address }}<br/>
{% endfor %}

<br/>

{% for row in list2 %}
	{{ row.0|addslashes|mycut:"j"}}, {{ row.1|addslashes}} <br/>
{% endfor %}


{% if not username %}
<form method="post" action="/login/"> 
	{% csrf_token %} 
	<input type="text" name="username">
	<input type="submit" value="login">
</form>
{% else %}
Welcome {{ username }}
<a href="/logout">logout</a>
{% endif %}

<br/><br/><br/>
<form enctype="multipart/form-data" method="POST" action="/upload/">
上传文件： <input type="file" name="file"/><br/>
<input type="submit" value="上传文件"/>
</form>

</body>
</html>

{% endblock %}

