#{extends 'main.html' /}
#{set title:'Welcome FHDone BTlog' /}
<script language="javascript">
SyntaxHighlighter.config.clipboardSwf = "@{'/public/swf/clipboard.swf'}";
SyntaxHighlighter.all();
</script>
<br/>
<br/>
<br/>
<br/>
<br/>

================Blog==================
<ul>
#{list items:blogs, as:'blog'}
	<li>
		<a href="@{Client.detail(blog.id)}">${blog.title}</a><br/>
		<strong>Post Time: </strong>${blog.createdTime}<br/>
		<strong>Read count: </strong>${blog.readCount} <br/>
		${blog.content.getValue()}
	</li>
<hr/>
#{/list}
</ul>


===============Twitter=================

<ul>
#{list items:twitters, as:'twitter'}
	<li>
		${twitter.content.getValue()}
	</li>
#{/list}
</ul>

================Page===================
<ul>
#{list items:pi.data, as:'p'}
	<li>
		${p.content.getValue()} 
	</li>
#{/list}
</ul>
${pageTag}
