#{extends 'client_main.html' /}
#{set title:'blog detail' /}
<script language="javascript">
SyntaxHighlighter.config.clipboardSwf = "@{'/public/swf/clipboard.swf'}";
SyntaxHighlighter.all();
</script>
<ul>
	<li>
		${article.title}<br/>
		${article.content.getValue()} 
	</li>
</ul>

=====Comment======
<ul>
#{list items:comments, as:'comment'}
	<li>
		${comment.author} - ${comment.content} 
	</li>
#{/list}
</ul>



#{form @addComment()}
	ur name: <input type="text" name="author" size="10" /><br/>
	ur comment: <textarea name="content"></textarea><br/>
	<input type="hidden" name="articleId" value="${article.id}">
	<input type="submit" value="add" />
#{/form}

<a class="new" href="@{Client.index}">Back main</a>