#{extends 'main.html' /}
#{set title:'Welcome FHDone BTlog' /}

<br/>
<br/>
<br/>
<br/>
<br/>

================Blog==================
<ul>
#{list items:blogVos, as:'blogVo'}
	<li>
		<a href="@{Client.detail(blogVo.id)}">${blogVo.title}</a><br/>
		<strong>Post Time: </strong>${blogVo.createdTime}<br/>
		<strong>Read count: </strong>${blogVo.readCount} <br/>
		${blogVo.content} 
	</li>
<hr/>
#{/list}
</ul>


===============Twitter=================

<ul>
#{list items:twitterVos, as:'twitterVo'}
	<li>
		${twitterVo.content} 
	</li>
#{/list}
</ul>