#{extends 'client_main.html' /}
#{set title:'Welcome To TBlog' /}
<script language="javascript">
//SyntaxHighlighter.config.clipboardSwf = "@{'/public/swf/clipboard.swf'}";
//SyntaxHighlighter.all();
setCurrentPageItem("menu_blog");
</script>

<div id="page">
	<div id="content">
		<div id="latest-post" class="post">
			#{list items:pi.data, as:'p'}
			<h1 class="title"><a href="@{Client.detail(p.id)}">${p.title}</a></h1>
			<p class="meta"><small>${p.createdTime}<br /></small></p>
			<div class="entry">
				${p.content.getValue()}
			</div>
			#{/list}
			${pageTag}
		</div>

		<div id="recent-posts">
		<ul>
		#{list items:recentBlog, as:'r'}
			<div class="post">
				<li><h2 class="title"><a href=@{Client.detail(r.id)}>${r.title}</a></h2></li>
			</div>
		#{/list}
		</ul>
		</div>
	</div>
</div>


