#{extends 'client_main.html' /}
#{set title:'Welcome FHDone BTlog' /}
<script language="javascript">
SyntaxHighlighter.config.clipboardSwf = "@{'/public/swf/clipboard.swf'}";
SyntaxHighlighter.all();
</script>
<br/>
<br/>
<br/>
<br/>
<br/>

<div id="menux">
<ul>
#{list items:recentBlog, as:'r'}
	<li>
		<a href=@{Client.detail(r.id)}>${r.title}</a><br/>
	</li>
#{/list}
</ul>
</div>

<div id="blog">
<ul>
#{list items:pi.data, as:'p'}
	<li>
		<a href="@{Client.detail(p.id)}">${p.title}</a><br/>
		<strong>Post Time: </strong>${p.createdTime}<br/>
		<strong>Read count: </strong>${p.readCount} <br/>
		${p.content.getValue()}
	</li>
#{/list}
</ul>
${pageTag}
</div>
