<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>#{get 'title' /}</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/style.css'}" />
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/photo.css'}" />
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/shCore.css'}" />
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/shThemeDefault.css'}" />
<!--        <script type="text/javascript" src="@{'/public/javascripts/jquery-1.2.6.min.js'}"></script>-->
		<script type="text/javascript" src="@{'/public/javascripts/shCore.js'}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/shBrushJava.js'}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/commons.js'}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/livevalidation_standalone.js'}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/mootools-1.2.3-core-nc.js'}"></script>
        <script type="text/javascript" src="@{'/public/javascripts/ganalytics.js'}"></script>
    </head>
    <body>
    	<!-- start header -->
		<div id="header">
			<div id="menu">
				<ul>
					<li id="menu_twitter"><a href="@{Client.twitter}">Twitter</a></li>
					<li id="menu_blog"><a href="@{Client.blog}">Blog</a></li>
					<li id="menu_photo"><a href="@{PhotoAction.index}">Photos</a></li>
					<li id="menu_rss"><a href="@{Rss.outputRssFeed}">Rss</a></li>
					<li id="menu_about"><a href="@{Client.about}">About</a></li>
				</ul>
			</div>
		</div>
		<div id="headerbg"><p class="text1">Welcome To TBlog</p></div>
		<!-- end header -->
		<div id="page">
	        #{doLayout /} 
	        <div style="clear: both;">&nbsp;</div>
	        <div id="footer">
					<p id="legal">&copy;2009 FHDone TBlog</p>
					<p id="links">
						Powered by <a href="http://code.google.com/appengine/">GAE</a> and <a href="http://www.playframework.org/">Play!</a>
					</p>
			</div>
		</div>
    </body>
</html>
