<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>
			org.apache.struts.action.ActionServlet
		</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>struts-config.xml</param-value>
		</init-param>
		 <init-param>
      		<param-name>debug</param-name>
      		<param-value>2</param-value>
   		 </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>HessianServlet</servlet-name>
		<servlet-class> com.caucho.hessian.server.HessianServlet</servlet-class>
		
		<init-param>
			<param-name>home-class</param-name>
			<param-value>hessian.BasicService</param-value>
		</init-param>
		
		<init-param>
			<param-name>home-api</param-name>
			<param-value>hessian.IBasic</param-value>
		</init-param>
	</servlet>
	
	<servlet>
         <servlet-name>XFireServlet</servlet-name>
         <servlet-class>
            org.codehaus.xfire.transport.http.XFireConfigurableServlet
        </servlet-class>
    </servlet>
	
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>HessianServlet</servlet-name>
		<url-pattern>/hessian/*</url-pattern>
	</servlet-mapping>
	
 	<servlet-mapping>
	    <servlet-name>XFireServlet</servlet-name>
	    <url-pattern>/servlet/XFireServlet/*</url-pattern>
	  </servlet-mapping>
	
  	<servlet-mapping>
	    <servlet-name>XFireServlet</servlet-name>
	    <url-pattern>/services/*</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>

