<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8>
	<link type="text/css" rel="stylesheet" href="/site_media/css/dhtmlgoodies_calendar.css" media="screen"></link>
	<script type="text/javascript" src="/site_media/script/dhtmlgoodies_calendar.js"></script>
	<script type="text/javascript" src="/site_media/script/after28.js"></script>
</head>
<body>

<form method="post" action="/mail_info/sureInfo/"> 
	{% csrf_token %} 
	<input type="hidden" name="sendDate" id="sendDate" />
	<table>
		<tr>
		    <td>上一次你家亲爱在:</td>
			<td>
				<input type="date" id="lastDate" name="lastDate" onchange="calcNextTime();"
				onclick="displayCalendar(document.forms[0].lastDate,'yyyy-mm-dd',this)">
				来访，
			</td>
		    <td>周期是:</td>
			<td> 
				<select name="cycle" id="cycle" onchange="calcNextTime();">  
        		<option value="20">20</option>
        		<option value="21">21</option> 
        		<option value="22">22</option> 
        		<option value="23">23</option> 
        		<option value="24">24</option> 
        		<option value="25">25</option> 
        		<option value="26">26</option> 
        		<option value="27">27</option> 
        		<option value="28" selected="selected">28</option> 
        		<option value="29">29</option> 
        		<option value="30">30</option>
        		<option value="31">31</option> 
        		<option value="32">32</option> 
        		<option value="33">33</option> 
        		<option value="34">34</option> 
        		<option value="35">35</option> 
        		<option value="36">36</option> 
        		<option value="37">37</option> 
        		<option value="38">38</option> 
        		<option value="39">39</option> 
        		<option value="40">40</option>
        		<option value="41">41</option> 
        		<option value="42">42</option> 
        		<option value="43">43</option> 
        		<option value="44">44</option> 
        		<option value="45">45</option> 
     		 </select>
		</tr>
		<tr>	
			<td colspan="2">
				下一次预计在：<label id="nexthappen"></label>
			</td>
		</tr>
	</table>
	<br/>
	<table>
		<tr>
			<td colspan="2">提前
			<select name="predays" id="predays" onchange="calcNextTime();">  
        		<option value="1">1</option>
        		<option value="2">2</option>
        		<option value="3">3</option>
        	</select>	
			天发送邮件到：</td>
			<td><input type="text" name="email" id="email" onblur="lightOnSendBtn();" onkeyup="lightOnSendBtn();"></td>
		</tr>
		<tr>
				<td colspan="2" align="center"><input type="submit" id="send_info"
				 value=" 确 认 " disabled="disabled" ></td>
		</tr>
	</table>
</form>

</body>
</html>